/* !--CSS document for general site-wide styles--! */

body {
  margin: 0;
  background-color: #ffe2c2;
  overflow-x: hidden;
  color: #2d1b11;
  font-family: "Paprika", system-ui;
}

header,
footer {
  background-color: #2d1b11;
  border: 1px solid #2d1b11;
  color: #ffecd6;
  justify-items: center;

  h1 {
    font-family: "Rock 3D", sans-serif;
    margin-top: 0;
  }

  a {
    text-decoration-line: none;
    color: #ffecd6;
    padding: 0.25rem;
    font-size: 0.85rem;
  }

  a:hover {
    background-color: #684027;
    border-radius: 3px;
  }
}

header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
}

menu.topBanner {
  display: grid;
  grid-template: repeat(5, auto-fit) / repeat(1, 1fr);
  justify-self: center;
  justify-items: center;
  min-width: 75vw;
  max-width: 95vw;
  gap: 0.25rem;
}

main {
  min-height: 79vh;
  max-width: 80vw;
  justify-items: center;
  justify-self: center;
}

menu {
  list-style-type: none;
}

/* !--css for screen expansion--! */
@media (width > 600px) {
  menu.topBanner {
    display: grid;
    grid-template: repeat(1, minmax(10vh, auto)) / repeat(10, 1fr);
    align-items: center;
    padding: 0;
    margin: 0 1rem;
  }
  h1 {
    grid-area: 1 / 1 / 2 / -5;
    justify-self: left;
  }

  main {
    align-content: center;
    min-height: 79.8vh;
  }
}
